@charset "utf-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    color: #333;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
}
/* html{overflow-y: scroll; /*6.17 수정 hwan} */
html{overflow: hidden;}
li{list-style-type: none;}
a{text-decoration: none; color: inherit;}
img{max-width: 100%;}
table{width: 100%; border-collapse: collapse;}
button{cursor: pointer;}
p{font-size: 14px;}
small{color: #767676;}
.brand h2,
.con1 h2,
h3{color: #000;}


/*전체======================================================*/
.wrap{position: relative;}

/*메뉴뉴======================================================*/
header {
    position: fixed;
    /*6.17 수정 hwan*/
    top: 0;
    /*6.17 수정 hwan*/
    z-index: 1000;
    /*6.17 수정 hwan*/
    background-color: #000;
    color: #fff;
    height: 100px;
    width: 100%;
    padding: 30px 60px;
}

.l_nav{
    position: absolute;
    left: 300px;
    top: 40px;
    z-index: 10;
}

.l_nav>ul{display: flex;}

.l_nav>ul>li>a{
    display: block;
    width: 100px;
    padding: 5px;
    text-align: center;
    font-weight: 300;
}

.l_nav>ul>li>a:hover{
    font-weight: 500;
}

.l_subnav{
    display: none;
    padding-top: 5px;
}

.l_subnav li a{
    display: block;
    width: 100px;
    padding: 5px;
    padding-left: 10px;
    background-color: #fff;
    color: #767676;
    font-size: 14px;
}

.l_subnav li a:hover{
    color: #000;
    border-bottom: 1px solid black;
}

.r_nav {
    display: flex;
    position: absolute;
    right: 60px;
    top: 45px;
}

.r_nav ul{display: flex;}

.r_nav ul li{margin-right: 30px;}

/*슬라이드======================================================*/

#slide{overflow: hidden; width: 100%; height: 860px; position: relative;}
#slide ul{
  position: relative; 
    width: 100%;
    height: 100%;
    display: flex;
}
#slide ul li{
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.s1{display: block;}
.maintextbox{
    position: absolute;
    z-index: 10;
    bottom: 15%;
    left: 10%;
    color: #fff;
}
.maintextbox h1 img{
    margin-bottom: 10px;
    width: 60%;
}
.maintextbox p{
    margin-top: 20px;
}
.maintextbox button{
    display: flex;
    padding: 10px 20px;
    background-color: #fff;
    border: 1px solid #333;
    font-weight: bold;
    margin-top: 40px;
}
.maintextbox button:hover{background-color: #cccccc;}

/*콘1-랭킹======================================================*/

.con1 {
    margin: 0 auto;
    width: 1200px;
    height: 100%;
    margin-top: 120px;
    margin-bottom: 60px;
    position: relative;
}

.con1 h2 {
    font-weight: bold;
    padding-bottom: 5px;
}

.con1>p {
    padding-bottom: 20px;
    color: #767676;
}

.con span {
    display: flex;
}

.con1 img {
    border-radius: 24px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.con1 img:hover {
    opacity: 1;
}

.ranking_box {
    margin-bottom: 40px;
}

.ranking_box ul {
    display: flex;
    justify-content: left;
    align-items: center;
}

.musinsa_pick {
    gap: 15px;
}

.text {
    display: block;
    margin-top: 10px;
    padding-left: 10px;
}
.text h5 {
    font-weight: bold;
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}
.text h5 span{
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.text p {
    padding-bottom: 10px;
}

.ranking_more1 {
    margin-bottom: 40px;
    display: none;
}

.ranking_more1 ul {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 15px;
}

.ranking_more2 {
    margin-bottom: 40px;
    display: none;
}

.ranking_more2 ul {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 15px;
}

.more {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #fff;
    color: #767676;
    border: 1px solid #767676;
}

/*sidebar*/
.sidebar {
    position: fixed;
    z-index: 100;
    top: 60%;
    right: 0;
    background-color: #ffffff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebarx {
    position: absolute;
    top: -30px;
    left: -20px;
}

.sidebar ul li {
    margin-bottom: 0;
}

.sidebar ul li a {
    display: block;
    border: 1px solid #D9D9D9;
    padding: 20px 15px;
    text-align: center;
}

.sidebar ul li a img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin: 0 auto;
}

.sidebar ul li:first-child {
    background-color: #000;
    color: #fff;
}

/*배너1======================================================*/

.banner{
    position: relative;
      margin-top: 180px;
      width: 100%;
      height: calc(100vh - 360px);
      margin-bottom: 200px;
      overflow: hidden;
  }
  .banner ul{
    display: flex;
      position: absolute;
      top: 0;
      left: 0;
      width: 600%;
      height: 100%;
  }
  .banner ul li{
      width: 100%;
      height: 100%;
  }
  .left_btn{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 210px;
    left: 10px;
    border: none;
    opacity: .7;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
  }
  .right_btn{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 210px;
    right: 10px;
    border: none;
    opacity: .7;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
  }

/*콜라보======================================================*/

.brand {
    overflow: hidden;
    position: relative;
    width: 1200px;
    height: 860px;
    margin-left: 360px;
}

.brand>h2 {
    font-weight: bold;
    padding-bottom: 5px;
}

.brand>p {
    padding-bottom: 20px;
    color: #767676;
}

.collabo {
    width: 1200px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: top;
}

.colslide {
    width: 100%;
    height: 100%;
}

.colslide ul {
    position: relative;
}

.colslide ul li {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
    display: none;
}

.colslide ul li a {
    width: 740px;
    height: 600px;
    display: block;
}

.colslide ul li.b_s1 {
    display: block;
    background: url('../img/b_s1.png') no-repeat center/cover;
}

.colslide ul li.b_s2 {
    background: url('../img/b_s2.png') no-repeat center/cover;
}

.colslide ul li.b_s3 {
    background: url('../img/b_s3.png') no-repeat center/cover;
}

.textbox {
    margin: 50px 50px;
}

.textbox {
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
}

.textbox h1 {
    margin-top: 10px;
    font-weight: 600;
}

/* .collist{flex-basis: 1;} */
.collist {
    width: 420px;
    height: 600px;
}

.collist img:hover {
    opacity: .7;
}

.collist ul .list1 ul {
    display: flex;
    justify-content: space-between;
}

.collist ul .list2 ul {
    display: flex;
    justify-content: space-between;
}

.collist ul .list3 ul {
    display: flex;
    justify-content: space-between;
}

.collist ul .list4 ul {
    display: flex;
    justify-content: space-between;
}

.collist ul .list5 ul {
    display: flex;
    justify-content: space-between;
}

.collist ul {
    gap: 20px;
}

.collist ul li {
    margin-top: 8px;
}

.listtext {
    display: flex;
}

.lbox {
    width: 280px;
    margin: 10px 0 0 20px;
    border-bottom: 1px solid #bebebe;
}

.ltitle {
    color: #767676;
}

.ltext {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}

.listtext h2 {
    margin-top: 5px;
}

.colimg {
    width: 100px;
    height: 100px;
}

.colimg img {
    border-radius: 10px;
}

/*룩북======================================================*/

.lookbook {
    overflow: hidden;
    width: 1200px;
    height: 400px;
    margin-left: 360px;
}

.lookbook>h3 {
    font-weight: bold;
    padding-bottom: 20px;
}

.lookbook ul {
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: top;
    gap: 20px;
}

.lookbook ul li {
    width: 230px;
    height: 355px;
}

.lookbook ul li a p {
    color: #fff;
    margin: 320px 0 0 15px;
}

.flip {
    width: 100%;
    height: 100%;
    position: relative;
    color: white;
    text-align: center;
    line-height: 400px;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition: .5s;
}

.front,
.back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
}

.back {
    transform: rotateY(180deg);
}

.flip:hover {
    transform: rotateY(-180deg);
}

/*배너2======================================================*/


.banner2{
    margin-top: 180px;
    width: 100%;
    height: 490px;
    overflow: hidden;
    position: relative;
    background: url('../img/fixed-image.png') no-repeat center/cover;
    background-attachment: fixed;
    background-position: top center;
}
.banner2 .title{
  padding: 130px;
  padding-left: 570px;
}



/*카테고리======================================================*/
.con3 {
    width: 1920px;
    overflow: hidden;
}

.category {
    width: 1920px;
    height: 80vh;
    margin-top: 300px;
    margin-left: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cg_text {
    padding: 20px;
    width: 300px;
    margin-right: 40px;
}

.cg_text h2 {
    font-size: 50px;
    font-weight: bold;
}

.cg_text p {
    font-size: 16px;
}

.container {
    width: 1920px;
    /* 컨테이너 너비를 화면 너비에 맞춤 */
    text-align: center;
    overflow: hidden;
    width: fit-content;
}

.image-container {
    white-space: nowrap;
    display: flex;
    /* 이미지 컨테이너 내부 이미지들을 가로로 정렬하기 위해 flex 사용 */
    transition: transform 0.5s ease;
    /* 이미지 이동 시 부드러운 애니메이션 효과 */
}

.image-item {
    display: inline-block;
    /* 요소들을 가로로 배열하고 줄 바꿈을 막음 */
    width: 500px;
    /* 각 요소의 너비 설정  */
    margin-right: 10px;
    /* 각 요소 사이의 간격 설정 (예시로 20px로 설정) */
}

.image-item img {
    max-width: none;
    /* 이미지의 최대 너비 제한 해제 */
    height: auto;
    /* 이미지 높이 자동 조정 */
    display: inline-block;
    /* 인라인 블록 요소로 설정하여 가로로 배열 */
}

.category .cgimg {
    border-radius: 20px;
}

/* 이미지 기본 스타일 */
.cgimg {
    transition: filter 0.3s ease;
    /* 부드러운 전환 효과 추가 */
}

/* 호버 효과를 위한 스타일 */
.image-item:hover .cgimg {
    filter: saturate(0);
    /*이미지를 회색으로 만듦 */
}

.category a {
    position: relative;
    display: inline-block;
}

.category small {
    color: #ffffff;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 20;
    transform: translate(-50%, -50%);
    filter: none;
}

.category button {
    border-radius: 50%;
    position: absolute;
    top: 330px;
    left: 1278px;
    border: none;
    opacity: .7;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
}


/*매거진=================================================================*/
.magazine {
    margin: 0 auto;
    width: 1200px;
    margin-top: 180px;
    /* background-color: antiquewhite; */
}

.magazine .top_textbox {
    width: 100%;
    height: 50px;
    padding: 15px;
    margin-bottom: 30px;
    display: flex;
    gap: 20px;
    align-items: center;
    border-bottom: 1px solid #D9D9D9;
}

.magazine .top_textbox h3 {
    font-weight: bold;
    font-size: 25px;
    color: #000;
}

.magazine .top_textbox p {
    font-size: 15px;
    color: #333;
}

.magazine .t1 {
    margin-left: 30px;
    color: #424242;
}


.magazine .bottom_textbox {
    width: 100%;
    height: 490px;
    overflow: auto;
    position: relative;
    padding: 0 10px;
}

.magazine .bottom_textbox a {
    display: flex;
    align-items: center;
    margin-top: 35px;
    padding-inline-start: 20px;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    margin: 20px 0;
    height: 100px;
}

.magazine .bottom_textbox h3 {
    font-size: 18px;
}

.magazine .bottom_textbox h4 {
    font-size: 16px;
    color: #767676;
    padding: 0 20px;
}

.magazine .bottom_textbox .new {
    font-size: 14px;
    padding: 0 10px;
    color: red;
}

.magazine .bottom_textbox .small1 {
    font-size: 14px;
    color: #767676;
    position: absolute;
    left: 1010px;
}

.bottom_textbox a:hover {
    border: 1px solid black;
}


/*스크롤 커스텀==========================================================*/
.magazine .bottom_textbox::-webkit-scrollbar {
    width: 5px;
}

.magazine .bottom_textbox::-webkit-scrollbar-track {
    background-color: #d9d9d9;
}

.magazine .bottom_textbox::-webkit-scrollbar-thumb {
    background-color: #767676;
}

.magazine .bottom_textbox::-webkit-scrollbar-button {
    display: none;
}

/* hover 효과 */
.magazine .bottom_textbox::-webkit-scrollbar-thumb:hover {
    transition: all 0.2s;
    /* 작동 안 됨 */
}

/* 코너에 라운드 효과 */
.magazine .bottom_textbox::-webkit-scrollbar-track,
.magazine .bottom_textbox::-webkit-scrollbar-thumb {
    border-radius: 5px;
}

/*스크롤 커스텀 끝*/

/*푸터================================================================*/
footer {
    margin-top: 180px;
    width: 100%;
    height: 625px;
    border-top: 1px solid #767677;
}

.top_footer {
    margin: 0 auto;
    width: 1200px;
    display: flex;
    padding: 50px 0;
}

/*푸터 상단 좌측*/
.left_textwrap {
    width: 600px;
    padding-right: 60px;
    margin-right: 80px;
}

.f_mainnav {
    display: flex;
    justify-content: space-around;
}

.left_textwrap>ul>li>a {
    display: block;
    font-weight: bold;
    width: 120px;
    padding: 15px 10px;
}


.f_subnav {
    display: block;
}

.f_subnav li a {
    display: block;
    width: 120px;
    padding: 5px;
    padding: 15px 10px;
}

/*푸터 상단우측*/
.right_sns {
    width: 600px;
    padding-top: 15px;
}

.right_sns ul {
    display: flex;
    gap: 20px;
    justify-content: right;
    align-items: center;
}

/*푸터 copyright*/
.b_copy {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: baseline;
    padding: 20px 0;
    margin-top: 50px;
    white-space: nowrap;
}

.b_copy h2 {
    font-size: 18px;
    margin-left: 20px;
}

.b_top h3 {
    font-size: 16px;
}

.b_top p {
    font-size: 13px;
    margin-bottom: 15px;
}

.b_top {
    display: inline-block;
    margin-left: 90px;
}

.b_top ul {
    display: flex;
}

.b_top a {
    font-size: 12px;
    color: #767676;
}

/*푸터 하단*/
.bottom_footer {
    width: 100%;
    height: 200px;
    margin-top: 20px;
    background-color: #000;
    color: #fff;
    text-wrap: nowrap;
}

.f_info {
    display: flex;
    height: 200px;
    width: 1200px;
    margin: 0 auto;
    align-items: center;
    padding-left: 20px;
}

.f_info ul {
    font-size: 13px;
}

.f_info a {
    color: #fff;
    margin-left: 130px;
    font-size: 15px;
    padding-left: 20px;
}

/*buypopup==========================================*/
.buypopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    text-align: center;
    width: 550px;
    height: 600px;
    border-radius: 24px;
    box-shadow: 3px 4px 30px rgba(0, 0, 0, 0.3);
    padding: 30px;
    z-index: 100;
    display: none;
}

.buypopup .text {
    line-height: 130%;
}

.buypopup .text h2 {
    padding-bottom: 40px;
    font-weight: 500;
}

.buypopup .text h3 {
    padding-bottom: 5px;
}

.buypopup img {
    width: 70%;
    margin-left: 80px;
}

.buypopup .click {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
}

.buypopup .click .btn1 {
    border-right: 2px solid lightgray;
    padding-right: 80px;
    font-weight: bold;
}

.buypopup .click .btn1:hover {
    color: rgb(31, 109, 255);
}

.buypopup .click .btn2 {
    color: #767676;
}

.buypopup .click .btn2:hover {
    font-weight: bold;
}

/*sharepopup==========================================*/
.sharepopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    text-align: center;
    width: 600px;
    height: 300px;
    border-radius: 24px;
    box-shadow: 3px 4px 30px rgba(0, 0, 0, 0.3);
    padding: 30px;
    z-index: 100;
    display: none;
}

.sharepopupx {
    position: absolute;
    right: -10px;
    top: -30px;
}

.sharepopup .text h3 {
    padding-bottom: 20px;
}

.sharepopup .text .btn3 {
    padding: 10px 200px;
    font-size: 16px;
    font-weight: 500;
    background-color: rgb(31, 109, 255);
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.sharepopup .text .btn3:hover {
    background-color: rgb(211, 227, 255);
    color: rgb(31, 109, 255);
    font-weight: bold;
}

.sharepopup .text small {
    text-decoration: underline;
}

.sharepopup .psns {
    margin-top: 10px;
}

.sharepopup .psns ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
}

.sharepopup .psns ul img {
    width: 80%;
}